.content{
    display: flex;
    justify-content: space-around;
}
.text h3{
    font-family: PT Sans Narrow;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    text-transform: uppercase;
    color: #4F4F4F;
}
 .text ol{
    font-family: PT Sans Narrow;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    color: #713E8B;
 }
 .text ol li p{
    font-family: B20 Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 25px;
    color: #4F4F4F;
 }






 .forma_registr form p{
    margin: 25px 0;
    margin-top: -5px;
 }
 .forma_registr form label{
    font-family: B20 Sans;
    font-size: 17px;
    line-height: 25px;
    color: #333333;

 }

 
 .forma_registr form input{
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    font-family: B20 Sans;
    font-size: 17px;
    color: #828282;
    padding-left: 10px;
 }

 .political p{
    font-family: B20 Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
        color: #828282;
 }

 .button_continue{
    background: linear-gradient(29.09deg, #713E8B 35.23%, #D4242F 82.42%, #713E8B 122.62%);
    border-radius: 30px;
    font-family: PT Sans Narrow;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    width: 270px;
    height: 50px;
    left: 906px;
    top: 637.36px;
    text-align: center;
    padding-top: 13px;
    width: 270px;
 }
 .button_continue- p{
 display: flex;
 justify-content: center;
 padding: 22px;
 }

/***                                           ****/
 .completion__register{
   position:fixed;
    width: 600px;
    height: 385px;
    left:calc(50% - 250px);
    top: 112px;
    background: #ffffff;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
    z-index: 99999;
    display: none;

 }

 .completion__register-header{
   position: relative;
   width: 100%;
   height: 80px;
   background: #242132;
 }

 .completion__register-header h1{
   font-family: PT Sans Narrow;
   font-style: normal;
   font-weight: bold;
   font-size: 25px;
   text-transform: uppercase;
   color: #FFFFFF;
   text-align: center;
   line-height: 3.2;
   margin: 0;
 }

 .completion__register-header span{
   color: #5E6065;
   font-family: PT Sans Narrow;
   font-size: 26px;
   position: absolute;
   top: 25px;
   right: 20px;
   cursor: pointer;
   left: 540px;
 }
 .competion__text{
    text-align: center;
 }
 .competion__text h4{
   font-family: PT Sans Narrow;
   font-style: normal;
   font-weight: bold;
   font-size: 20px;
   line-height: 26px;
   color: #713E8B;
 }
 .competion__text p{
   font-family: B20 Sans;
   font-style: normal;
   font-weight: 300;
   font-size: 17px;
   line-height: 32px;
   
   color: #242132;
 }

 .button-ok{
   background: linear-gradient(29.09deg, #713E8B 35.23%, #D4242F 82.42%, #713E8B 122.62%);
   border-radius: 30px;
   font-family: PT Sans Narrow;
   font-style: normal;
   font-weight: bold;
   font-size: 20px;
   line-height: 26px;
   text-transform: uppercase;
   color: #FFFFFF;
   text-decoration: none;
   width: 270px;
   height: 50px;
   left: 906px;
   top: 637.36px;
   text-align: center;
   padding-top: 13px;
   width: 270px;
   padding: 11px 110px;
 }